In [1]:
"""
bearing_classification.ipynb
Created by ST Chien, 08/20/2019 
"""
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [2]:
##### PLZ IGNORE AND DONT EXECUTE THIS BLOCK IF UNESSCESSARY #####
# The shape of the original data(2048, 8192) proviede by BingHon(or, MatLab) is wrong, 
# The following code is to correct this error.
#trainingDataframe = pd.read_csv("../Dataset/data.csv", header = None)
#fixedDataframe = pd.DataFrame(trainingDataframe.values.reshape(2048, 8192))
#fixedDataframe.to_csv("../Dataset/reshaped_training_data.csv", index = False)

In [2]:
# Read the data
rawDataframe = pd.read_csv("../Dataset/reshaped_training_data.csv")
rawDataframe.head()

,0,1,2,3,4,5,6,7,8,9,...,8182,8183,8184,8185,8186,8187,8188,8189,8190,8191
0,-17.624,-22.424,3.176,9.576,-25.624,-11.224,9.576,-78.424,49.576,33.576,...,14.056,94.056,-25.944,-9.9439,-25.944,54.056,30.056,6.0561,6.0561,-105.940
1,-43.224,-44.824,-11.224,-11.224,-19.224,-41.624,-8.024,39.976,4.776,38.376,...,30.056,134.060,-249.940,14.0560,54.056,-33.944,46.056,-1.9439,-185.9400,-185.940
2,-6.424,-11.224,-6.424,6.376,95.976,-16.024,6.376,70.376,15.976,41.576,...,22.056,78.056,486.060,30.0560,-25.944,-25.944,30.056,-9.9439,38.0560,-41.944
3,-3.224,35.176,-32.024,-16.024,-83.224,-11.224,-12.824,30.376,7.976,-33.624,...,-33.944,22.056,-105.940,30.0560,-41.944,62.056,110.060,-33.9440,70.0560,646.060
4,-28.824,9.576,55.976,31.976,-3.224,-22.424,-43.224,-24.024,-11.224,-40.024,...,-49.944,-41.944,54.056,94.0560,-57.944,30.056,78.056,-81.9440,30.0560,-369.940

In [3]:
mean = np.mean(rawDataframe, axis = 1)
std = np.std(rawDataframe, axis = 1)
# fft = np.fft.fft(rawDataframe, axis = 1)    # Something has gone wrong in fft
# fft = np.abs(fft)

In [4]:
trainingDataframe = pd.DataFrame({"mean": mean, "std": std})
trainingFFTDataframe = pd.DataFrame(fft)

NameError: name 'fft' is not defined

In [ ]:
trainingDataframe.head()

In [ ]:
trainingFFTDataframe.describe()

In [ ]:
trainingDataframe.head()

In [ ]:
plt.rcParams["figure.figsize"] = [16,9]
plt.plot(np.abs(fft[0]))

In [ ]:
fft = np.abs(fft)

In [ ]:
plt.plot(fft[0])

In [39]:
fft[]

(2048, 8192)